name: CI

on: [pull_request, push]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: "3.7"
    - uses: actions/cache@v1
      id: cache-pip
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/dev-requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - run: python -m pip install -r dev-requirements.txt
    - name: "Run tests"
      run: python -m pytest --cov=__app__ --cov-fail-under=90 tests/
    - run: python -m coverage html
    - uses: actions/upload-artifact@v1
      with:
        name: "HTML coverage report"
        path: htmlcov

  formatting:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: "3.7"
    - run: python -m pip install black
    - run: black --check .
